{namespace vm=Lightwerk\Vectormap\ViewHelpers}
<f:if condition="{settings.categoryFilter.enable}">
	<div class="filter col-md-4 col-sm-6 col-xs-12 categories">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"
				     data-ng-click="selectedCategory = 0">
					<f:translate key="template.marker.index.showCategories" />
				</div>
				<select name="categories"
						class="form-control"
						data-ng-model="selectedCategory"
						data-categories='{categories -> vm:format.json.encode()}'
						data-default-label="{f:translate(key: 'template.marker.index.selectCategory')}"
						data-ng-options="category.uid as category.title for category in remainingCategories"
						marker-categories
				></select>
			</div>
		</div>
	</div>
</f:if>