{namespace vm=Lightwerk\Vectormap\ViewHelpers}
<f:if condition="{settings.countryFilter.enable}">
	<div class="filter col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"
				     data-ng-click="countryIsoCodeA2 = ''; selectCountry('')">
					<f:translate key="template.marker.index.showCountries" />
				</div>
				<select name="countries"
						data-ng-model="countryIsoCodeA2"
						data-ng-change="selectCountry(countryIsoCodeA2)"
						data-countries='{countries -> vm:format.json.encode()}'
						data-default-label="{f:translate(key: 'template.marker.index.selectCountry')}"
						class="form-control"
						id="countries"
						data-ng-options="country.isoCodeA2 as country.name for country in remainingCountries"
						marker-countries
				></select>
			</div>
		</div>
	</div>
</f:if>