<f:if condition="{settings.searchFilter.enable}">
	<div class="filter col-md-4 col-sm-6 col-xs-12">
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"
					 data-ng-click="searchTerm = ''; searchText = ''">
					<f:translate key="template.marker.index.clearSearch" />
				</div>
				<input class="form-control" data-ng-model="searchText" type="text" />
			</div>
		</div>
	</div>
</f:if>