<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<f:section name="Main">


	<div class="list row clearfix" data-ng-if="markers.length" data-ng-hide="hideList" style="{f:if(condition: settings.list.enable, then: '', else: 'display:none')}">

		<div class="list-group">
			<span class="marker-list-item list-group-item"
			   data-ng-repeat="entry in $parent.remainingEntries = (entries | filter:filterByCountry | filter:filterByCategory | filter:filterBySearchTerm | orderBy:'name')"
			   data-ng-click="$parent.$parent.activeClass = entry.uid; selectMarker(entry.markerUids)"
			   data-ng-class="{'active':entry.uid === $parent.$parent.activeClass && mapEnabled}">
				<!-- hCard | @see http://microformats.org/wiki/hcard -->
				<div class="vcard row">
					<div class="col-md-3">
						<h4 class="fn list-group-item-heading">{{entry.name}}</h4>
						<div class="adr">
							<span class="position" data-ng-if="entry.position.length">
								{{entry.position}}
							</span>
							<br>
							<span class="street-address" data-ng-if="entry.street.length">
								{{entry.street}} {{entry.houseNumber}}
							</span>
							<br>
							<span class="postal-code" data-ng-if="entry.zipCode">
								{{entry.zipCode}}
							</span>
							<span class="locality" data-ng-if="entry.city.length">
								{{entry.city}}
							</span>
							<br>
							<span class="country-name" data-ng-if="entry.countryName.length">
								{{entry.countryName}}
							</span>
						</div>
					</div>
					<div class="col-md-3" data-ng-if="entry.electronicAddresses">
						<span
								data-ng-repeat="electronicAddress in entry.electronicAddresses | orderObjectBy:'uid':0"
								class="electronic-address clearfix">
							{{electronicAddress.type}} :
							<span data-ng-if="electronicAddress.isEmail">
								<a data-ng-href="mailto:{{electronicAddress.identifier}}">{{electronicAddress.identifier}}</a>
							</span>
							<span data-ng-if="electronicAddress.isUrl">
								<a data-ng-href="{{electronicAddress.modifiedIdentifier}}" target="_blank"><span data-ng-if="electronicAddress.comment">{{electronicAddress.comment}}</span><span data-ng-if="!electronicAddress.comment">{{electronicAddress.identifier}}</span></a>
							</span>
							<span data-ng-if="!electronicAddress.isEmail && !electronicAddress.isUrl">
								{{electronicAddress.identifier}}
							</span>

							<span class="electronic-address-comment" data-ng-if="!electronicAddress.isUrl && electronicAddress.comment">({{electronicAddress.comment}})</span>
						</span>
					</div>
					<div class="col-md-3" data-ng-if="entry.information.length">
						<span class="note" data-ng-bind-html="trust(entry.information, entry.uid)">
						</span>
					</div>

					<div class="cold-md-3" data-ng-ig="entry.images">
						<div class="image"
							 data-ng-repeat="image in entry.images">

								<img data-ng-src="{{image.url}}" title="{{image.title}}" alt="{{image.alt}}"/>

							 </div>
					</div>
				</div>
			</span>

			<a class="entry-list-item list-group-item" data-ng-if="remainingEntries.length === 0">
				<div class="row">
					<div class="col-md-12 text-center">
						<h4 class="list-group-item-heading">
							<f:translate key="template.marker.index.noResults" />
						</h4>
					</div>
				</div>
			</a>
		</div>

	</div>
<f:if condition="{settings.list.enable}">
	<div class="entry-images" style="display: none;">
		<f:for each="{entries}" as="entry">
			<f:for each="{entry.images}" as="image">
				<f:image image="{image}"
				         additionalAttributes="{
				             data-entry-uid: entry.uid,
				             data-original-image-source: '{f:uri.image(image: image, maxWidth: settings.list.entry.originalImage.maxWidth, maxHeight: settings.list.entry.originalImage.maxHeight)}'
				         }"
				         maxWidth="{settings.list.entry.image.maxWidth}"
				         maxHeight="{settings.list.entry.image.maxHeight}"
				         title="{image.originalResource.title}"
				         alt="{image.originalResource.alternative}"/>
			</f:for>
		</f:for>
	</div>
</f:if>

</f:section>
</div>
