{namespace vm=Lightwerk\Vectormap\ViewHelpers}

<f:if condition="{settings.map.enable}">
	<f:if condition="{settings.map.jsOptions.startingPoint} == 1">
		<script src="{f:uri.resource(path: 'Vendor/Maps/ne_110m_admin_0_countries_world.js')}"></script>
	</f:if>
	<f:if condition="{settings.map.jsOptions.startingPoint} == 2">
		<script src="{f:uri.resource(path: 'Vendor/Maps/ne_10m_admin_1_states_provinces_{settings.map.jsOptions.country}.js')}"></script>
	</f:if>
	<f:if condition="{settings.map.jsOptions.startingPoint} == 3">
		<script src="{f:uri.resource(path: 'Vendor/Maps/{settings.map.jsOptions.continental}.js')}"></script>
	</f:if>
	<div class="map-container"
	     data-js-options='{settings.map.jsOptions -> vm:format.json.encode()}'
	     style="height: {settings.map.height}; width: {settings.map.width}">
	</div>
</f:if>