{namespace vm=Lightwerk\Vectormap\ViewHelpers}

<f:layout name="Main" />

<f:section name="Content">
	<div class="tx-vectormap-pi1"
	     data-entries='{entries -> vm:format.json.encode()}'>
		<div data-ng-controller="VectormapController" class="controller-container">
			<f:render partial="Map" arguments="{_all}" />
			<div class="clearfix">
				<f:render partial="Filter/Search" arguments="{_all}" />
				<f:render partial="Filter/Category" arguments="{_all}" />
				<f:render partial="Filter/Country" arguments="{_all}" />
			</div>
			<f:render partial="List" arguments="{_all}" section="Main" />
		</div>
	</div>

	<f:if condition="{settings.angular.enableLocally}">
		<script src="{f:uri.resource(path: 'Vendor/angular/angular.min.js')}"></script>
	</f:if>
</f:section>