<f:layout name="Main" />

<f:section name="Content">

	<div class="tx-vectormap-pi1">

		<f:if condition="{settings.markerSelect.enable}">
			<form action="{f:uri.page(pageUid: settings.targetPage)}" method="get">
				<div class="form-group">
					<div class="input-group">
						<f:form.select name="tx_vectormap[marker]"
						               options="{markers}"
						               optionValueField="uid"
						               optionLabelField="name"
						               prependOptionValue="0"
						               prependOptionLabel="{f:translate(key: 'template.marker.select.selectMarker')}"
						               sortByOptionLabel="1"
						               class="form-control"
						               additionalAttributes="{onchange: 'this.form.submit()'}"
						               value="0" />
					</div>
				</div>
			</form>
		</f:if>

		<f:if condition="{settings.categorySelect.enable}">
			<form action="{f:uri.page(pageUid: settings.targetPage)}" method="get">
				<div class="form-group">
					<div class="input-group">
						<f:form.select name="tx_vectormap[category]"
						               options="{categories}"
						               optionValueField="uid"
						               optionLabelField="title"
						               prependOptionValue="0"
						               prependOptionLabel="{f:translate(key: 'template.marker.select.selectCategory')}"
						               sortByOptionLabel="1"
						               class="form-control"
						               additionalAttributes="{onchange: 'this.form.submit()'}"
						               value="0" />
					</div>
				</div>
			</form>
		</f:if>

		<f:if condition="{settings.countrySelect.enable}">
			<form action="{f:uri.page(pageUid: settings.targetPage)}" method="get">
				<div class="form-group">
					<div class="input-group">
						<f:form.select name="tx_vectormap[region]"
						               options="{countries}"
						               optionValueField="isoCodeA2"
						               optionLabelField="name"
						               prependOptionValue="0"
						               prependOptionLabel="{f:translate(key: 'template.marker.select.selectCountry')}"
						               sortByOptionLabel="1"
						               class="form-control"
						               additionalAttributes="{onchange: 'this.form.submit()'}"
						               value="0" />
					</div>
				</div>
			</form>
		</f:if>

	</div>

</f:section>