.tx-vectormap-pi1 {
	.map-container {
		margin-bottom: 15px;
	}

	.filter {
		margin-bottom: 10px;

		.form-group {
			.input-group {
				.input-group-addon {
					cursor: pointer;
				}
			}
		}
	}

	.list {
		clear: both;
		.list-group {
			.marker-list-item {

				.electronic-address {
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}

.jvectormap-tip {
	&.marker-tip {
		position: absolute;
		color: black;
		display: none;
		border: solid 1px #CDCDCD;
		border-radius: 3px;
		background-color: #FFFFFF;
		font-family: sans-serif, Verdana;
		font-size: 90%;
		padding: 10px;
		min-width: 200px;
		max-width: 230px;
		opacity: 0.8;
		box-shadow: 1px 1px 5px 0 #666;
		z-index: 99999;
		p {
			margin: 0;
			&.marker-name {
				font-weight: 600;
			}
			&.electronic-address:first-child {
				margin-top: 8px;
			}
		}
	}
}